*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:red;
    box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
    z-index: 10;
}    

nav ul{
    list-style: none;
    display: flex;
    margin-right: 2rem;
    float: right;
    margin: 15px 15px;
    padding: 12px 17px;
    display: flex;
    font-size: small;
}

nav ul li{
    color: tomato;
    font-size: large;
    text-align: end;
    margin: 5px 10px;
    padding: 5px 10px;
}

nav ul li :hover{
    background-color:wheat;
    border-radius: 10px;
    
}


#welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}
h1{
    color: aliceblue;    
}
p{
    color: greenyellow;
}

.project-tile{
     
    padding: 10rem 2rem;
    text-align: center;
    background-color:purple;
}

.project-tile h4{
    width: 500px;
    color: wheat;
    font-size: xx-large;
    font-weight: 400;    
    margin: 0 auto 6rem auto;
    border-bottom: 2px solid red;
    text-transform: capitalize;
    text-decoration:double;
}

.projects-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}
.task{
    background-color: turquoise;
    box-shadow: #181719 3px;
    border-radius: 1px;
    box-sizing: inherit;
    color: black;
    cursor: pointer;
    text-align: center;
}
#ContactInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background:black;
}

#ContactInfo h4{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
    color: white;
    font-size: large;
    text-transform: capitalize;
    text-align: justify;
}

.ContactLink{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
    color: yellow;
}

#fab fa-github{
    content: "\f09b";
}

footer{
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background-color: black;
    border-top: 4px solid red;  
}
footer > p {
    margin: 2rem;
}

@media screen and (max-width: 800px) {
    body{
        background-color: turquoise;
    }
    
}


